name: Publish Packages

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build package
        run: |
          cd packages/config
          npm install
          npm run build
          cd ../provider
          npm install
          npm run build

      - name: Publish package
        run: |
          cd packages/config --registry=https://registry.npmjs.org/
          npm publish
          cd ../../packages/provider
          npm publish --registry=https://registry.npmjs.org/
