name: Publish Packages

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v3

      - name: Configure npm
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build package
        run: |
          yarn workspace @stabilityprotocol/config build
          yarn workspace @stabilityprotocol/provider build

      - name: Publish package
        run: |
          cd packages/config
          npm config set @stabilityprotocol:registry https://registry.npmjs.org/
          npm publish
          npm config set @stabilityprotocol:registry https://registry.npmjs.org/

          cd ../../packages/provider
          npm publish
