name: Publish Packages

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"
          scope: "@stabilityprotocol"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build package
        run: |
          yarn workspace @stabilityprotocol/config build
          yarn workspace @stabilityprotocol/provider build

      - name: Create .npmrc for config package
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > packages/config/.npmrc

      - name: Publish config package
        run: |
          cd packages/config
          npm publish --access public

      - name: Create .npmrc for provider package
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > packages/provider/.npmrc

      - name: Publish provider package
        run: |
          cd packages/provider
          npm publish --access public
