name: Publish Packages

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build package
        run: |
          cd packages/config
          npm install
          npm run build
          cd ../provider
          npm install
          npm run build

      - name: Publish package
        run: |
          cd packages/config
          npm config set //registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN -g
          npm publish --registry=https://registry.npmjs.org/
          cd ../../packages/provider
          npm config set //registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN -g
          npm publish --registry=https://registry.npmjs.org/
